[submodule "CalibratePf/RadioControlProtocolC"]
	path = CalibratePf/RadioControlProtocolC
	url = git@github.com:ToolboxPlane/RadioControlProtocolC.git
[submodule "Ground Station/RadioControlProtocolCpp"]
	path = Ground Station/RadioControlProtocolCpp
	url = git@github.com:ToolboxPlane/RadioControlProtocolCpp.git
[submodule "Ground Station/QDarkStyleSheet"]
	path = Ground Station/QDarkStyleSheet
	url = git@github.com:ColinDuquesnoy/QDarkStyleSheet.git
[submodule "Ground Station/Messages"]
	path = Ground Station/Messages
	url = git@github.com:ToolboxPlane/Messages.git
